<div class="container">
    <mat-card *ngFor="let order of orders">
        <a>
            <mat-card-header>
                <div class="product-item-footer">
                    <div class="cook-time">
                        <span>{{order.id}}</span>
                    </div>
                </div>
            </mat-card-header>
            <mat-card-content>
                <div class="content">
                    <div class="name" *ngFor="let tetel of order.ordered">
                        {{tetel}} 
                    </div>
                    <br>
                    <div class="price">
                        {{order.price}} Ft
                    </div>
                </div>
            </mat-card-content>
        </a>
    </mat-card>
</div>
<div class="cig">
    <span>A legdrágább rendelésedért {{ priciestOrder[0].price }}Ft-ot fizettél!</span>
</div>