<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-header (onCloseSidenav)="onClose($event, sidenav)"[loggedInUser]="loggedInUser" (onLogout)="logout($event)"></app-header> <!-- régi mencü --> 
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div fxHide.gt-xs>
                <button mat-icon-button (click)="onToggleSidenav(sidenav)">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div><a href="" routerLink="/">Webkert Pizzázó</a></div>
            <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
                <ul fxLayout fxLayoutGap="30" class="navigation-items">
                    <li *ngIf="!(loggedInUser)">
                        <a href="" routerLink="/login">Bejelentkezés</a>
                    </li>
                    <li *ngIf="loggedInUser">
                        <a href="" routerLink="/profile">Profil</a>
                    </li>
                    <li *ngIf="loggedInUser">
                        <a href="" routerLink="/orders">Rendelések</a>
                    </li>
                    <li *ngIf="loggedInUser">
                        <a href="" routerLink="/" (click)="logout()">Kijelentkezés</a>
                    </li>
                    <li>
                        <a href="" routerLink="/cart">Kosár</a>
                    </li>
                </ul>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet> <!-- Home component load -->
    </mat-sidenav-content>
</mat-sidenav-container>