div, mat-chip-listbox {
    display: flex;
    flex-wrap: wrap;
}
mat-chip-listbox mat-chip-option {
    background-color: whitesmoke;
    padding: .3rem 1rem;
    margin: .2rem .15rem;
    border-radius: 10rem;
    color: blue;
    font-weight: 400;
}